
/* media queries  */
@media (max-width:991px){

    html{
        font-size: 55%;
    }

    body{
        padding-right: 0;
    }
    
    section{
        padding:2rem;
    }

    header{
        width:100%;
        left:-120%;
    }

    header.active{
        left:0%;
    }

    #menu-bars{
        display: initial;
    }

    header .navbar{
        writing-mode: horizontal-tb;
    }

    header .navbar a{
        display: block;
        font-size: 3rem;
    }
    .about .row{
        flex-direction:column;
    }
    .about .row .image{
        flex:1 1 100%;
    }
    .about .row .image img{
        width:60%;
    }
    .about .row .content{
        flex:1 1 100%;
    }
    .about .content h3{
        font-size: 3rem;
    }
    .project .box-container {
        flex-direction:column;
    }
}

@media (max-width:780px){
    .skills .box-container .box{ 
        flex-basis:100%;
    }
    .skills .box-container .box p{ 
        text-align: center;
    
}
}

@media (max-width:450px){

    html{
        font-size: 50%;
    }

    .heading{
        font-size: 4rem;
    }
  
      
    .contact .box-container .box{
        width:100%;
    }
    .contact .box-container .box img{
        width:100%;
    }
    .project .box-container .box .content {
         line-height:1;
         padding:1rem;
    }
    .project .box-container .box .content h3{
        margin-top:1rem;
        line-height: 1.5;
        font-size:3rem;
    }
    .project .box-container .box .content p{
        line-height:2;
        font-size: 2rem;
        padding:.5rem .5rem;
    }
    footer h2{
        font-size:1.4rem;
    }
}
